beautifulsoup4==4.9.1
cairocffi==1.3.0
CairoSVG==2.5.2
cffi==1.15.0
click==7.1.2
cssselect2==0.4.1
defusedxml==0.7.1
future==0.18.2
html5lib==1.1
htmlmin==0.1.12
Jinja2==3.0.2
joblib==0.16.0
jsmin==3.0.0
livereload==2.6.3
lunr==0.6.1
Markdown==3.2.2
MarkupSafe==2.0.1
mkdocs==1.2.3
mkdocs-macros-plugin==0.6.0
mkdocs-material==8.0.4
mkdocs-material-extensions==1.0
mkdocs-minify-plugin==0.5.0
mkdocs-pdf-export-plugin==0.5.8
mkdocs-select-files==0.4.0
nltk==3.6.5
Pillow==8.4.0
pycparser==2.20
Pygments==2.7.4
pymdown-extensions==9.0
pymdown-include==0.0.1
Pyphen==0.9.5
python-dateutil==2.8.2
python-markdown-math==0.8
PyYAML==5.4
regex==2021.10.23
repackage==0.7.3
six==1.16.0
soupsieve==2.2.1
termcolor==1.1.0
tinycss2==1.0.2
tornado==6.0.4
tqdm==4.62.3
WeasyPrint==53.3
webencodings==0.5.1
-e git+https://github.com/ryneeverett/python-markdown-comments.git@aa82610f7823450f0c214473b57da8bcb0ff5651#egg=python-markdown-comments
