git+https://github.com/zhaoterryy/mkdocs-pdf-export-plugin.git
mkdocs
mkdocs-macros-plugin
mkdocs-material
mkdocs-minify-plugin
#mkdocs-pdf-export-plugin
mkdocs-select-files
python-markdown-math
pymdown-include
WeasyPrint
